header {
  height: 80px;
}
img {
    position: relative;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    /* max-width: 100%; 
    max-height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: hidden;

}

body {
    margin: 0;
    font-size: 1rem;
    /* background-color: #FCF1CF; */
}

/* .container{
  max-width: 1220px;
  padding: 0;
  margin: auto;
  background-color: #333333;
  width: 100%;
} */

a.title {
  color: white;

}

.menu{
  height: 85px;
  display: flex;
  justify-content: space-between;
  /* background-color: #333333; */
  background-color: #3e729a;
  padding: 0 10px;
  margin: 0;
  overflow: hidden;
}

.menu__links-list{
  list-style-type: none;
  display: flex;
  gap: 10px 20px;
  font-family: monospace;
  font-size: 14px;
}
/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient( 89.8deg, rgba(222, 74, 74, 1) 4.7%, rgba(30, 29, 29, 1) 120.3%);
} */


/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

nav{
    /* background:rgb(53, 66, 185); */
    height: 67px;
    width: 100%;
    background-color: #111111;
    margin: 0;
    padding: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0 30px;
  padding: 15px auto;
  overflow: hidden;
  font-size: larger;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  /* background-color: #111111; */
  background-color: #264653;
}

.welcome {
  padding: 0 auto;
  margin: 10px 10px;
}

.footer {
  /* padding: 0 auto;
  margin: 10px 10px; */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.world-info{
  position: relative;
  display: block;
  padding: 0 auto;
  margin: 10px 10px;
}


p {
  font-size: larger;
}

/* li {
  float: left;
} */

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 35px 10px;
  text-decoration: none;
  height: 15px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #264653;
}

li.dropdown {
  /* margin-bottom: 10px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.title-logo {
  width: 213.933px;
  padding-bottom: 0px;
}

h1.asia-description {
  text-align: center;
}

h1.northamerica-description {
  text-align: center;
}

h1.europe {
  text-align: center;
}

p.world-description {
  text-align: center;
}
/* small screens */
@media (max-width: 768px) {
  a.title {
    margin: 0 10px;
    font-size: 2.5vw; /* Example: smaller size for smaller screens, adjust as needed */
  }
  a.home {
    font-size: 2vw;
  }
  a.dropbtn {
    font-size: 2vw;
  }
  a.account {
    font-size: 2vw;
  }
  nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 10px;
  text-decoration: none;
}

@media (max-width: 375px) {
  a.title {
    margin: 0 10px;
    font-size: 2vw; /* Example: smaller size for smaller screens, adjust as needed */
  }
  a.home {
    font-size: 2vw;
  }
  a.dropbtn {
    font-size: 2vw;
  }
  a.account {
    font-size: 2vw;
  }
  nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 10px;
  text-decoration: none;
}}
}